<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Ficha Medicas</h1>
  <div class="col-md-4">
    <%= link_to 'Nueva Ficha', new_ficha_medica_path, class: "btn btn-success btn-sm , glyphicon glyphicon-plus" %>
  </div>
  <div clas="col-md-8">
      <div>
        <%= form_tag ficha_medicas_path, :method =>'get' do %>

          <%= text_field_tag :search %>
          <%= submit_tag "Buscar" %>

        <% end %>
      </div>
  </div> 
 <table class="table table-hover"><BR><br><br>
    <thead>
      <tr>
        <th>Numero de Ficha</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Ci</th>
        <th>Especialidad</th>
        <th>Categoria</th>
        <th>Puesto</th>
        <th>Etnia</th>
        <th>Sexo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ficha_medicas.each do |ficha_medica| %>
        <tr>
          <td><%= ficha_medica.numero %></td>
          <td><%= ficha_medica.nombre %></td>
          <td><%= ficha_medica.apellido %></td>
          <td><%= ficha_medica.ci %></td>
          <td><%= ficha_medica.especialidad %></td>
          <td><%= ficha_medica.categori.tipo %></td>
          <td><%= ficha_medica.puesto_salud.nombre %></td>
          <td><%= ficha_medica.etnia %></td>
          <td><%= ficha_medica.sexo %></td>
          <td><%= link_to 'Ver', ficha_medica , class: "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Editar', edit_ficha_medica_path(ficha_medica), class: "btn btn-default btn-sm"  %></td>
          <td><%= link_to 'Borrar', ficha_medica, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
          <td><%= link_to 'Consultar', consultas_path, class: "btn btn-default btn-sm"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 
<script>
   $(document).ready(function() {
   $('#tabla').dataTable( {
       responsive: true,
       "bProcessing": true,
       //"sPaginationType": "full_numbers",
       "paging": true,
       "iDisplayLength": 10,
       "bPaginate": true,
       "bSort": true,
       "oLanguage": {
           "oPaginate": {
               "sPrevious": "←",
               "sNext": "→",
               "sLast": "»",
               "sFirst": "«"
           },
           "sProcessing": "Procesando...",
           "sLengthMenu": "Mostrar _MENU_ registros",
           "sZeroRecords": "No se encontraron resultados",
           "sEmptyTable": "Ningún dato disponible en esta tabla",
           "sInfo": "Mostrando de _START_ al _END_ de _TOTAL_ registros",
           //"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "sInfoEmpty": "Mostrando del 0 al 0 de 0 registros",
           "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
           "sInfoPostFix": "",
           "sSearch": "Buscar: ",
           "sUrl": "",
           "sInfoThousands": ".",
           "sLoadingRecords": "Cargando...",
           "oAria": {
               "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
               "sSortDescending": ": Activar para ordenar la columna de manera descendente"
           }
       }
   } );
   } );
</script>